body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2;
}

.schedule {
  position: relative;
  margin: 10px auto;
  padding: 20px 20px 10px;
  width: 1000px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.title {
  margin: 10px 500px;
}

.konferans {
	font: 24px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
}