[legends]
legend1 = true
legend2 = true
legend3 = true
legend4 = false
legend5 = false
legend6 = false

[legendTexts]
legendText1 = r
legendText2 = y
legendText3 = u
legendText4 = 
legendText5 = 
legendText6 = 

[Calibrations]
M1 = 0.0
M2 = 0.0
M3 = 0.0
M4 = 0.0
M5 = 0.0
M6 = 0.0
K1 = 1
K2 = 1
K3 = 1
K4 = 0.0
K5 = 0.0
K6 = 0.0

[Limits]
yMin = Auto
yMax = Auto

[Other]
AnimationON = false
SampleTime = 1000
MaximumData = 30
AmountData = 300

