[legends]
legend1 = true
legend2 = true
legend3 = false
legend4 = false
legend5 = false
legend6 = false

[legendTexts]
legendText1 = Potentiometer
legendText2 = Temperatur
legendText3 = adc2
legendText4 = adc3
legendText5 = adc4
legendText6 = adc5

[Calibrations]
M1 = 0.0
M2 = 0.0
M3 = 0.0
M4 = 0.0
M5 = 0.0
M6 = 0.0
K1 = 1
K2 = 1
K3 = 1
K4 = 1
K5 = 1
K6 = 1

[Limits]
yMin = Auto
yMax = Auto

[Other]
AnimationON = false
SampleTime = 100
MaximumData = 100
AmountData = 2500

